* {
	padding: 0;
	margin: 0;
}
p {
	color:black;
	line-height:30px;
	font-family:Ubuntu,Sans-Serif;
	font-size:25px;
	text-align:block;
	padding: 30px;
}

.jumbotron {background-color: transparent;}
.col-lg-6 {
	margin-top:120px;
	margin-bottom: 50px;
	border: 1px solid black;
	border-radius: 7px;
	background-color: #eaeeef !important;
	
}

body {
	background-image: url("aboutbg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Ubuntu', Arial, sans-serif;
}

.navbar-brand li {margin-right: 3px;}
body {
	
	font-family: 'Ubuntu', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialised !important;
	background-color: #ece5e5;
}
.navbar {margin-bottom: 0;background-color: #f9f9f9;}
.navbar ul li {color: #428bca;}
ul li {margin-right: 25px;}
img {
	border-radius: 10px;
	margin-top: 30px;
	margin-right: 10px;
}
li {
	list-style-type: none;
	display: inline-block;
}
a {
	font-size: 17px;
	text-decoration: none;
	transition: all 500ms ease-in-out;
}

a:hover, a:active {
	text-decoration: none;
	color: #003380;
}
.navbar navbar-default {margin-bottom: 0;}