* {
	padding: 0;
	margin: 0;
}

p {
	color:black;
	line-height:30px;
	font-family:Ubuntu,Sans-Serif;
	font-size:25px;
	text-align:block;
	padding: 30px;
}

.navbar {
	border-radius: 0;
}

html {
	overflow-x: hidden;
}

.jumbotron {
	background-color: transparent;
}

.col-lg-6 {
	margin-top:120px;
	margin-bottom: 50px;
	border: 1px solid black;
	border-radius: 7px;
	background-color: #eaeeef !important;
	
}

body {
	background-image: url("aboutbg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Ubuntu', Arial, sans-serif;
}

body {
	
	font-family: 'Ubuntu', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialised !important;
	background-color: #ece5e5;
}

.navbar {
	margin-bottom: 0;
}

ul li {
	list-style-type: none;
}

img {
	border-radius: 10px;
	margin-top: 30px;
	margin-right: 10px;
}

.navbar-brand {
	height: 40px;
	padding-top: 8px;
}

a {
	font-size: 14px;
	text-decoration: none;

}

@media (max-width: 468px) {
	.jumbotron {margin-top: 0;padding-top: 0;margin-bottom: 30px;}
}
