* {
	padding: 0;
	margin: 0;
}
.jumbotron {
	margin-top: 200px !important;
	background: transparent !important;
	height: 350px !important;
	margin-bottom: 0;
}
#successMsg {
	display: none;
}
html {
	overflow-x: hidden;
}
#touch {
	display: none;
}

input {
	margin-bottom: 8px;
}
textarea {
	margin-bottom: 8px;
}
canvas {
	border: 1px solid transparent;
	
	margin-left: -190px;
	padding-left: 0;
}
a {
	font-size: 17px;
	text-decoration: none;

}
ul li {
	list-style-type: none;
}
.jumbotron img {
	position: relative;
	width: 95%;
	height: auto;
	margin-left: -140px;
	margin-top: -155px;
}
form {
	position: relative;
}
label {
	color: black;
}
button {
	margin-top: 20px !important;
	margin-left: 0 !important;
}
/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.navbar-brand li {margin-right: 3px;}
body {
	
	font-family: 'Ubuntu', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialised !important;
	background-color: #ece5e5;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

#hover {color: #428bca !important;}
#hover:hover {
	color: #c51cce;
	font-weight: bold;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}
#overlay {margin-left: -150px;margin-top: -100px;}
#canvas-wrap { position:relative; width:800px; height:300px }
#canvas-wrap canvas { position:absolute; top:0; left:0; z-index:0 }
.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
@media (max-width: 1200px) {
	#remove {display: none;}
}

@media (max-width: 868px) {
	.col-md-4 {text-align: center;}
	.jumbotron {margin-top: 60px !important;}
	#touch {display: block;color: #1ba8c1;margin-bottom: 40px;}
	input {margin-bottom: 15px;}
	.container {width: 300px;}
	#successMsg {display: block;margin-top: 10px;}
	#overlay {display: none;}
	#submit {width: 100%;}
	ul li {
	list-style-type: none;
	font-family: 'Ubuntu', Arial, sans-serif;
	
	}
}