* {
	margin: 0;
	padding: 0;
}

.row {
	background-color: none;
}
html,body {overflow-x: hidden;}

body {
	padding-top: 50px;
	font-family: 'Ubuntu', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialised !important;
	background-color: #ece5e5;
}
ul li {margin-right: 25px;}
img {
	border-radius: 10px;
	margin-top: 30px;
	margin-right: 10px;
}
.jumbotron h2:first-child {margin-top: 50px;}
.jumbotron h2 {margin-left: 40px;}

li {
	list-style-type: none;
	display: inline-block;
}
.jumbotron {padding:0 !important;}

a {
	font-size: 17px;
	text-decoration: none;
	transition: all 500ms ease-in-out;
}

a:hover, a:active {
	text-decoration: none;
	color: #54b0f2;
}
h2, h4 {
	font-family: 'Ubuntu', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

p {
	
	line-height: 21px;
	
}
#mainHeading {
	margin-top:100px;
	margin-bottom:40px;
	font-size: 40px;
	font-family: 'Orbitron', sans-serif;
	line-height: 45px;
	
}


/* navigation */


ul li a:hover {color:#0047b3;font-weight: bold;background-color: transparent !important;}
.navbar-container {
    padding: 8px 0;
}
ul {margin-left: 40px;}
.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}
.wrapper {background-image: url("bg.jpg") no-repeat center center cover;}

.navbar-nav {float: right;}
.navbar-container.fixed-theme {
    padding: 0;
}
#header {marginf-bottom: 0;}
#navbar ul li a {font-size: 18px;}

.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

/* MAIN CONTENT */

.jumbotron {
	height: 600px;
	width: 100%;
	padding: 30px 0 30px;
	background-image: url("bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	
}
.jumbotron h2,.jumbotron p,.jumbotron button {
	margin-top: 20px;
}

.jumbotron .btn {
	margin: 40px 20px;
	border-radius: 5px;
}
@media (max-width:468px) {

	#img {width: 80%;height: auto;}
	#margin {margin-bottom: 0;}
	#jumbotron, #center {text-align: center;}
	#padding {padding-left: 0px;}
	
}

@media (max-width:768px) {
	.jumbotron {
		padding: 30px;
		height: 750px;	
	}
	img {
		width: 80%;
		height: 300px;
		margin-top: 20px;	
	}
	.jumbotron .btn {
		font-size: 10px;
		margin-left: 20px;	
	}
	.jumbotron h2 {
		font-size: 20px;	
	}
	.jumbotron p {
		font-size: 10px;	
	}
	
}

/* SERVICES */

.services {
	background-color: #ece5e5;
	padding: 20px 0 80px;
	text-align: center;
	}
.services h2 {
	padding-bottom: 20px;
}
.services h2, .services h4 {
	color: #4c4c4c;
	margin: 20px 0 20px;
}

.services i {
	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50%;
	background-color: #6699cc;
	color: white;
}

@media (max-width:768px) {

	.services {
		padding: 30px;	
	}
}

