
* {
	margin: 0;
	padding: 0;
}

html,body {
	overflow-x: hidden;
}

.navbar {
	border-radius: 0;
}

.navbar-brand {
	height: 40px;
	padding-top: 8px;
}

a {
	font-size: 14px;
	text-decoration: none;

}

.navbar-brand li {
	margin-right: 3px;
}

body {
	
	font-family: 'Ubuntu', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialised !important;
	background-color: #ece5e5;
}

img {
	border-radius: 10px;
	margin-top: 30px;
	margin-right: 10px;
}
.jumbotron h2:first-child {
	margin-top: 50px;
}

.jumbotron h2 {
	margin-left: 40px;
}

li {
	list-style-type: none;
	
}

.jumbotron {
	padding:0 !important;
}


h2, h4 {
	font-family: 'Ubuntu', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}



p {
	line-height: 25px;
}

#mainHeading {
	margin-top:120px;
	font-size: 40px;
	font-family: 'Orbitron', sans-serif;
	
}

/* MAIN CONTENT */

.jumbotron {
	height: 600px;
	width: 100%;
	margin-top: 0 !important;
	padding: 0 30px;
	background-image: url("bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	
}
.jumbotron h2,.jumbotron p,.jumbotron button {
	margin-top: 20px;
}

.jumbotron .btn {
	margin: 40px 20px;
	border-radius: 5px;
}

/* content */

.content {
	background-color: #ece5e5;
	padding: 20px 0 80px;
	text-align: center;
	}
.content h2 {
	padding-bottom: 20px;
}
.content h2, .content h4 {
	color: #4c4c4c;
	margin: 20px 0 20px;
}

.content i {
	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50%;
	background-color: #6699cc;
	color: white;
}


@media (max-width:468px) {
	
	.wrapper {
		background-image: url("bg.jpg");
		background-repeat: no-repeat;
		background-position: right;
		background-size: 50px 60px;
	}
	#margin {margin-bottom: 0;}
	#mainHeading {text-align: center;}
	#mainHeading span {line-height: 50px !important;}
	ul {margin-left: 0;}
	.col-lg-6 {margin-bottom: 20px;}
	
}

@media (min-width:468px) {
	.jumbotron {
		padding: 30px;
		height: 750px;	
	}
	.col-lg-5:nth-child(2) {text-align: center !important;margin-right: 10px;}
	
	.jumbotron p {
		font-size: 10px;	
	}
	
	.content {
		padding: 30px;	
	}
}

